

body {background-color:#555;}
.navbar-fixed {
  top: 0;
  position: absolute;  
}

.carousel {
  margin-top: 100px;
}


.brand-logo {
  text-align: left;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.parallax-container {
  height: 300px;
}
    
